body {
	background: #232323;
	margin: 0; 
	font-family: "Montserrat", "Avenir";
}
h1 {
	color: white;
	text-align: center;
	line-height: 1.1;
	background: steelblue;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	padding: 20px 0;
}
.square {
	width: 30%;
	background-color: blue;
	padding-bottom: 30%;
	float: left;;
	margin: 1.66%; 
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
}

#colorDisplay {
	font-size: 200%;
}

#container {
	max-width: 600px;
	margin: 20px auto;
}
#stripe {
	background: white;
	text-align: center;
	height: 30px;
	color: black;
}
#message {
	display: inline-block;
	width: 20%;
}
.selected {
	color: white;
	background: steelblue;
}
button {
	font-family: "Montserrat", "Avenir";
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	letter-spacing: 1px;
	color: steelblue;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}
button:hover {
	color: white;
	background: steelblue;
}